body{
    font-family: "roboto";
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.header,.footer{
    background-color: #1f2937;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.header{
    display: flex;
    justify-content: space-between;
    padding:16px;
}

.right-links{
    display: flex;
    gap: 8px;
}

.content{
    display: flex;
    flex-direction: column;
}

.section1{
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #e5e7eb;
    font-size: 18px;
    padding-bottom: 60px;
    padding-top: 45px;
}

.right{
    background-color: darkgray;
    width: 500px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    width:500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 16px;
}

.main{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
}

button{
    background-color: #3882F6;
    color: white;
    border: 0;
    width:100px;
    height: 30px;
    border-radius: 25px;
}

.section2{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.images{
    display: flex;
    justify-content: center;
    gap: 32px;
}

.image{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    align-items: center;
    /*width: 200px;
    height: 200px;*/
}

.pic{
    border: 4px solid #3882F6;
    padding: 0;
    height: 150px;
    width: 150px;
    border-radius: 25px;
}

.picText{
    width: 150px;
    color: grey;
    text-align: center;
}

.section3{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

.quote{
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    width: 900px;
    flex-wrap: wrap;
    font-weight: 300;
}

.quote-author{
    align-self: flex-end;
    font-size: 24px;
    font-weight: 700;
}

